*{
    font-family: var(--default-typo);
}

.custom-head {
    background-color: #EEEEEE;
    height: 35px;
}

.custom-head-2 {
    background-color: #EEEEEE;
    height: 35px;
    margin-bottom: 10px;
}

.custom-head-2>h3 {
    font-size: var(--font17pxToRem);
    color: var(--title-txt-color);
    line-height: 35px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0;
}

.custom-head>h3 {
    font-size: var(--font17pxToRem);
    color: var(--title-txt-color);
    line-height: 35px;
    font-weight: bold;
}

.custom-title {
    font-size: var(--font18pxToRem);
    font-weight: bold;
}

.custom-title-product {
    color: #444;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.custom-price-text {
    color: #444;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.custom-ref {
    color: #BBB;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-seller-info {
    color: #8A8A8A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-cesta-title {
    color: #A1A1A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-aplicar {
    border-radius: 0px 4px 4px 0px;
    background: #8A8A8A;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    width: 86px;
    height: 33px;
}

.input-text {
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #FFF;
    width: 158px;
    height: 33px;
}

.input-text::placeholder
{
    font-size: 12px;
    padding-left: 10px;
}

.custom-delete-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.add-remove-form {
    width: 90px;
    height: 33px;
    border-radius: 3px;
    background: #EEE;
}

.button-add {
    width: 23px;
    height: 27px;
    border-radius: 0px 3px 3px 0px;
    border: none;
    background: #FFF;
}

.button-less {
    width: 23px;
    height: 27px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    background: #FFF;
}

.button-cantidad {
    width: 44px;
    height: 27px;
    background: #FFF;
    border: none;
    text-align: center;
    margin: 0 4px 0 4px;

    color: #404040;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-bill-cart
{
    font-size: 12px;
}

/* Botón tramitar */

.custom-btn-tramitar
{
    width: 100%;
    height: 33px;
    border-radius: 2px;
    background-color: var(--red-color);
    color: #FFF;
    font-size: 14px;
    transition: .2s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.custom-btn-tramitar:hover
{
    padding-right: 20px;
}

.custom-btn-tramitar>span
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white!important;
    font-size: 30px;
    position: absolute;
    right: 55px;
    opacity: 0;
    transition: .3s ease-in;
}

.custom-btn-tramitar:hover>span
{
    opacity: 1;
    right: 45px;
}