.custom-title-card
{
    font-family: var(--default-typo);
    color: var(--title-txt-color);
    font-size: var(--font14pxToRem);
}

.custom-description-product
{
    font-family: var(--default-typo);
    color: var(--product-txt-color);
    font-size: var(--font12pxToRem);
}

.custom-description-product-2
{
    font-family: var(--default-typo);
    color: var(--title-txt-color);
    font-size: var(--font12pxToRem);
}

.custom-product-price
{
    font-family: var(--default-typo);
    color: var(--red-color);
    font-size: var(--font18pxToRem);
}

.custom-label-recomendado
{
    width: 150px;
    height: 25px;
    background-color: var(--orange-color);
}

.custom-txt-recomendado
{
    font-family: var(--default-typo);
    color: white;
    font-size: var(--font11pxToRem);
    line-height: 25px;
}