
.custom-background-1
{
    background-image: url('../../assets/images/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 457px;
}

.custom-background-2
{
    background-image: url('../../assets/images/header-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 457px;
}