.custom-title-section
{
    font-size: 20px;
    font-family: var(--default-typo);
    color: var(--title-txt-color-variant);
}

/* Button Añadir al carrito */

.button-style
{
    width: 200px;
    height: 30px;
    border: 1px solid var(--red-color);
    background-color: var(--white-color);
    color: var(--red-color);
    font-size: 14px;
    transition: .2s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style:hover
{
    background-color: var(--red-color);
    color: var(--white-color);
    padding-right: 20px;
}

.button-style>span
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
    position: absolute;
    right: 25px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: .3s ease-in;
}

.button-style:hover>span
{
    opacity: 1;
    right: 10px;
    color: white;
}

/* --------------------------- */

.custom-default-description-text
{
    color: var(--product-txt-color);
    font-size: var(--font12pxToRem);
}

.custom-info-banner-container
{
    position: relative;
}

.custom-banner-title
{
    position: absolute;
    font-family: "Tower10", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
    top: 50px;
    left: 100px;
    text-shadow: 0px 0px 15px black;
}

.custom-banner-text
{
    position: absolute;
    top: 140px;
    left: 100px;
    font-family: var(--default-typo);
    font-size: 20px;
    color: var(--white-color);
}

.custom-image-container
{
    width: 440px;
    height: 200px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
}

.custom-image-category
{
    min-width: 100%;
    height: auto;
}

.custom-title-category
{
    position: absolute;
    font-family: "Tower10", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--white-color);
    top: 25px;
    left: 50px;
    text-shadow: 0px 0px 15px black;
}

.custom-button-category
{
    position: absolute;
    font-family: "Tower10", sans-serif;
    font-weight: 900;
    bottom: 25px;
    left: 50px;
    font-size: 16px;
    width: 170px;
    height: 30px;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    text-shadow: 0px 0px 15px black;
}

.custom-card
{
    width: 15rem; 
    height: 21rem; 
    border: solid 1px #BFBFBF; 
    border-radius: 0px;
    transition: 0.2s ease-in-out;
}

.custom-card:hover
{
    border: solid 1px var(--red-color);
}

.custom-card:hover .custom-title-card-hover
{
    color: var(--red-color);
    text-decoration: underline;
}