:root
{
    --title-txt-color: #444444;
    --title-txt-color-variant: #4D4D4D;
    --product-txt-color: #8A8A8A;
    --price-txt-color: #E20613;
    --bc-orange: #EB7713;
    --tipo-txt-general: 'Nunito', sans-serif;
    --font11pxToRem: 0.688rem;
    --font12pxToRem: 0.75rem;
    --font14pxToRem: 0.875rem;
    --font18pxToRem: 1.125rem;
}

.custom-title-section
{
    font-size: 20px;
    font-family: var(--tipo-txt-general);
    color: var(--title-txt-color-variant);
}

.button-style
{
    width: 200px;
    height: 30px;
    background-color: #fff;
    border: solid 2px red;
    color: red;
    padding: 5px 23px;
}

.custom-default-description-text
{
    color: var(--product-txt-color);
    font-size: var(--font12pxToRem);
}