*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar-custom
{
    width: 380px;
    height: 35px;
    background-color: #EEEEEE!important;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    margin-left: 20px;
    background: url(../images/search-icon.svg) center right 10px no-repeat;
    background-size: 25px 25px;
}

.search-bar-custom::placeholder
{
    font-size: 12px;
}

.btn-search>img
{
    width: 100%;
    height: auto;
}